<nav class="navbar navbar-light border shadow">
  <a class="navbar-brand pl-2" href="/">
    <img src="assets/logo.svg" width="80" height="80" alt="Logo" />
    <strong>Sistema de Identificação de Queimadas</strong>
  </a>
</nav>

<div class="container">
  <!-- <div class="row py-3">
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->

  <section class="mx-auto my-5">
    <div class="row pb-3">
      <div class="col-12">
        <div class="card shadow py-2 px-2">
          <div class="container">
            <img
              src="assets/interrogacao.svg"
              class="tooltip-img"
              [mtxTooltip]="tooltipTpl"
              [mtxTooltipPosition]="'above'"
              [mtxTooltipClass]="'tooltip-card'"
            />

            <ng-container *ngIf="step == 1; then passo1"></ng-container>
            <ng-container *ngIf="step == 2; then passo2"></ng-container>
            <ng-container *ngIf="step == 3; then passo3"></ng-container>
            <ng-container *ngIf="step == 4; then passo4"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="card map-card">
      <div id="map"></div>
    </div>
  </section>
</div>

<ng-template #tooltipTpl>
  <div class="tooltip-body">
    <ol>
      <li>No computador, abra o Google Maps.</li>
      <li>Clique com o botão direito do mouse no lugar ou na área no mapa.</li>
      <li>
        Uma janela pop-up será aberta. A latitude e a longitude vão aparecer no
        formato decimal na parte superior.
      </li>
      <li>
        Para copiar as coordenadas automaticamente, clique na latitude e
        longitude.
      </li>
    </ol>
  </div>
</ng-template>

<ng-template #passo1>
  <p class="h2 text-center py-3">Informe os dados de latitude e longitude</p>
  <div class="row">
    <div class="col-4 offset-1">
      <div class="form-group">
        <label for="latitude" style="color: #39b54a"
          ><strong>Latitude:</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="latitude"
          placeholder="Exemplo: -45.12"
          [(ngModel)]="latitude"
          (input)="centralize()"
        />
      </div>
    </div>
    <div class="col-4 offset-2">
      <div class="form-group">
        <label for="longitutde" style="color: #39b54a"
          ><strong>Longitude:</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="longitutde"
          placeholder="Exemplo: -23.11"
          [(ngModel)]="longitude"
          (input)="centralize()"
        />
      </div>
    </div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-8 d-flex justify-content-evenly">
      <button (click)="nextStep()" class="btn btn-green mt-2">
        Próximo passo
      </button>
    </div>
  </div>
</ng-template>

<ng-template #passo2>
  <p class="h3 text-center py-3">Escolha o tamanho do raio</p>
  <div class="row">
    <div class="col-12 d-flex justify-content-center flex-column">
      <input
        (input)="updateCircle()"
        [(ngModel)]="raio"
        step="1"
        min="0"
        max="50"
        type="range"
        class="form-control"
      />
      <label class="pt-2">Raio escolhido: {{ raio }}km</label>
    </div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-8 d-flex justify-content-evenly">
      <button (click)="previousStep()" class="btn btn-danger mt-2">
        Voltar
      </button>
      <button (click)="nextStep()" class="btn btn-green mt-2">
        Próximo passo
      </button>
    </div>
  </div>
</ng-template>

<ng-template #passo3>
  <p class="h3 text-center py-3">Selecione o ano</p>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="form-group w-50">
        <label style="color: #39b54a">Ano:</label>
        <select
          name="years"
          class="form-control"
          [(ngModel)]="currYear"
          (change)="teste()"
        >
          <ng-container *ngFor="let year of years">
            <option [value]="year">{{ year }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-8 d-flex justify-content-evenly">
      <button (click)="previousStep()" class="btn btn-danger mt-2">
        Voltar
      </button>
      <button (click)="nextStep()" class="btn btn-green mt-2">
        Próximo passo
      </button>
    </div>
  </div>
</ng-template>

<ng-template #passo4>
  <p class="h3 text-center py-3">Dados selecionado</p>
  <div class="row">
    <div class="col-3 d-flex justify-content-center">
      <div class="form-group">
        <label for="latitude"
          ><strong class="green-text">Latitude:</strong></label
        >
        <input type="text" class="form-control" [value]="latitude" disabled />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="longitutde"
          ><strong class="green-text">Longitude:</strong></label
        >
        <input type="text" class="form-control" [value]="longitude" disabled />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="longitutde"
          ><strong class="green-text">Raio:</strong></label
        >
        <input
          type="text"
          class="form-control"
          [value]="raio + 'km'"
          disabled
        />
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="longitutde"><strong class="green-text">Ano:</strong></label>
        <input type="text" class="form-control" [value]="currYear" disabled />
      </div>
    </div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-8 d-flex justify-content-evenly">
      <button (click)="previousStep()" class="btn btn-danger mt-2">
        Voltar
      </button>
      <button (click)="restartSystem()" class="btn btn-warning mt-2">
        Reiniciar
      </button>
      <button (click)="getFires()" class="btn btn-green mt-2" *ngIf="hasNext">
        Buscar Queimadas
      </button>
    </div>
  </div>
</ng-template>
