@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  background-color: #f5f7fa;

}

.green-text {
  color: #39B54A
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  margin: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #39B54A;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}


.card {
  font-family: 'Roboto', sans-serif;
}

.btn-green {
  background-color: #39B54A;
  color: white;
}

.card.map-card .living-coral {
  background-color: #fa7268;
}

.card.map-card .living-coral-text {
  color: #fa7268;
}

.card.map-card .table th {
  width: 2rem;
}

.card.map-card .pt-3-5 {
  padding-top: 1.25rem;
}

.card.map-card .card-body {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.card.map-card .card-body.closed {
  top: 100%;
  height: 7.5rem;
  margin-top: -7.5rem;
}

.card.map-card .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.map-card .button .btn-floating {
  margin-top: -1.5rem;
}

#map {
  height: 700px;
  width: 100%;
}

.tooltip-img {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tooltip-body {
  padding: 10px;
  font-size: 12px;
  background-color: #39B54A;
  border-radius: 10px;
}

.tooltip-body ol {
  padding: 0;
  padding-left: 10px;
  margin: 0;
}
